.top-heading {
    color: rgb(164, 117, 240);
    font-family: 'Times New Roman', Times, serif;
    background-color: lightblue;
    padding: 10px;
    border-radius: 10px;
}
.large-image{
    max-width: 150px;
}
.small-image{
    max-width: 50px;
 }
.background {
    background-color: lightpink;
    padding: 20px;
    border-radius: 10px;
}   